
<div class="container">
  <div class="d-grid gap-3">
    <div class="p-2 bg-light border">
        <form [formGroup]="form" (ngSubmit)="Buscar()" class="text-center">
        <div class="form-group" >
          <div class="row justify-content-md-center mb-20px">
            <div class="col-md-6 orange mt-0">

              <label for="selectAction">Autores</label>

              <select formControlName="idAuthor" class="form-control" id="selectAction" (change) = "functionname(t.value)" #t>
                  <option *ngFor="let op of authorsResponse" [value]="op.id">
                      {{ op.authorName }}
                  </option>
              </select>
            </div>
          </div>
          <div class="row justify-content-md-center ">
        </div>

        <div class="row justify-content-md-center ">
          <div class="col-md-auto text-center">
            <div class="row">
              <label class="">Desde</label>
            </div>
            <ngb-datepicker formControlName = "InitialpublishDate" [(ngModel)]="model1"></ngb-datepicker>
          </div>

          <div class="col-md-auto text-center">
            <div class="row">
              <label class="">Hasta</label>
            </div>
            <ngb-datepicker formControlName = "FinalpublishDate" [(ngModel)]="model2"></ngb-datepicker>
          </div>
      </div>

      </div>

        <button type="submit" class="btn btn-primary btn-sm" style="padding-left: 2.5rem; padding-right: 2.5rem;">Buscar</button>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="table-responsive">
<div class="container pt-5">
    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
      <thead>
        <tr>
          <th>Autor</th>
          <th>Titulo</th>
          <th>Descrición</th>
          <th>Fecha publicación</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let books of boolFilterResponse">
          <td>{{books.firstName}}</td>
          <td>{{books.title}}</td>
          <td>{{books.description}}</td>
          <td>{{books.publishDate}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
